.header {
    width: 100%;
    padding: 1rem 0;
    background: $color_blue_01;
    color: #fff;
    margin-bottom: 2rem;
    &__logo {
        text-decoration: none;
        color: #fff;
        &--title {
            margin: 0;
            padding: 0;
            font-size: 2.8rem;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}