*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    font-family: 'nunito', sans-serif;
    font-weight: 400;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}