.primary--title {
	font-size: 2.4rem;
	font-family: "Muli";
	font-weight: 700;
}

.secondary--title {
	font-size: 2.2rem;
	font-family: "Muli";
}

.sub--title {
	font-size: 1.7rem;
	font-weight: 400;
}

.mt-3 {
	margin-top: $m-size;
}
