/*
* swatch
*/

$color_red_pink_01: #d33e43;
$color_red_pink_02: #d53662;
$color_white_01: #f1efef;
$color_yellow_01: #ffa500;
$color_orange_01: #4ba3c3;
$color_blue_01: #3d5072;
$color_blue_02: #0098bc;
$color_grey_01: #77768d;
$color_grey_02: #5e5d77;
$on: #ee6666;
/**
* sizes
*/

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
/**
* box shadow
*/

$box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
$panel-box-shadow: 2px 3px 5px rgba(46, 61, 73, 0.15);
